{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/analysis" method="GET">
    <div class="bg" style="background-color: #1b2631;"></div>
    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/articulated.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold"><a href="/analysis/articulated_truck" style="all:unset; color:black">ARTICULATED TRUCK</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/asphalt_paver.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold"><a href="/analysis/asphalt_paver" style="all:unset; color:black">ASPHALT PAVER</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/backhoe_loader.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold"><a href="/analysis/backhoe_loader" style="all:unset; color:black">BACKHOE LOADER</a></p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/dozer.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold"><a href="/analysis/articulated_truck" style="all:unset; color:black">DOZER</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/excavator.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold"><a href="/analysis/asphalt_paver" style="all:unset; color:black">EXCAVATOR</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}