{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/" method="GET">
    <div>
        <br><br><br><br>
        <div class="content">
            <div class="main-text">Intelligent Component Failure Forecasting</div>
            <div class="sub-text"> Detecting potential present or future equipment/component <br>failures using telematics data.</div>
        </div>
        <img src="static/bg-2.jpeg" alt="Bottom Image" border="0" class="bottom-image">
    </div>
</form>
{% endblock %}
